a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "manrope";
  src: url(../public/Manrope-VariableFont_wght.ttf);
}
body {
  font-family: "manrope";
}

html {
  font-size: 62.5%;
}
